<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bitcoinaddress:</strong>
  <%= @user.bitcoinaddress %>
</p>


<%= link_to 'Back', users_path %>
