// Place all the styles related to the Lotteries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.qrcode {
  float:left;
  position:relative;
  width: 50px;
  height: 50px;
}

.qrcode img{
  width:50px;
  height:50px;
}

.qrcode:hover {
  height: 48px;
  width: 48px;
  border: 1px solid black;
}

.qrcode:hover img {
  margin-left: 55px;
  border: 3px solid black;
  width:250px;
  height:250px;
}